@page
@model Employees_DashBoard.Pages.Empoyees.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
@* <h1>Index</h1>
 *@
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" style="color:#fff">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].YearsExperience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearsExperience)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> 
                    @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
